<%= form_with(model: @list, local: true) do |form| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" style="text-align: center;">
    <!--<%= form.label :name, "List Name" %><br>-->
    <%= form.text_field :name, class: "form-control", :style => 'text-align: center; font-size: 1.6em; width: 50%; margin: auto' %>
  </div>
  <br>
  <div class="form-actions" style="text-align: center; padding-left: 100px; padding-right: 100px; margin: auto;">
    <%= form.submit :class => 'btn btn-primary text-uppercase', :style => 'width: 50%; padding-left: 100px; padding-right: 100px;'%>
  </div>
<% end %>
