
<%= form_with(model: @list, local: true) do |form| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" style="padding-left: 55px; padding-right:800px;">
    <%= form.label :name, "List Name" %><br>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="form-actions" style="padding-left: 55px; ">
    <%= form.submit :class => 'btn btn-primary text-uppercase' %>
  </div>
<% end %>
