<div style="margin-top: 20px; margin: auto;">
<h3 style="text-align: center; padding-top: 100px;">Your Shopping Lists</h3>
<div class="table-responsive" style="margin-left: 10%; margin-right: 10%; width:80%; padding-top:30px;">
  <table style="border: 3px solid black; border-radius: 1.5em;" class="table table-striped" >
    <thead style="background: #5F808D; color: white;">
      <tr>
        <th>List Name</th>
        <th>Date Created</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% ListUser.all.each do |check| %>
        <% if check.user_id == session[:user_id] %>
        <% if List.find(check.list_id) != nil %>
        <% @l = List.find(check.list_id) %>
        <tr>
          <td><%= @l.name %></td>
          <td><%= @l.created_at.to_date %></td>
          <td><%= link_to 'Show', @l %></td>
          <td><%= link_to 'Rename', edit_list_path(@l) %></td>
          <td><%= link_to 'Delete', @l, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         
        </tr>
      <% end %>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<div><%= button_to 'Add a List', new_list_path, class: 'btn btn-primary text-uppercase', style: 'margin-left: 10%; margin-right: 10%; position: absolute; width: 80%;' %></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
<%= render 'layouts/footer' %>