<<<<<<< HEAD
<div class="buttons"style="float: left; width:50%;">
  <div class="container1" >
    <h3 style="margin-left: 50px; padding-top:15px;"><%= @list.name %></h3>
    <% @inList = [] %>
<% ListProduct.all.each do |item| %>
<% if item.list_id == @list.id %>
<% @inList += [item] %>
<% File.open("test.txt", "w+") do |f| %>
<% @inList.each do |name| %>
<%  f.puts(Product.find(name.product_id).name) %>
<% end %>

<% end %>

<% end %>
<% end %>
    <div class="table-responsive" style="padding-left:50px; padding-top:30px; padding-bottom:30px;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Product Name  </th>
            <th>Quantity  </th>
            <th>Available? </th>
            <th>Buyer?</th>
          </tr>
          
        </thead>
        
        <tbody>
        <% @itemNumber = 0 %>
        <% @inList.each do |itemInList| %>
          <tr>
            <td><%= Product.find(itemInList.product_id).name %></td>
            <td><%= itemInList.quantity %></td>
            <td><%= itemInList.availability %></td>
            <% if @itemNumber%2 == 0 %>
              <td class="even">Karen</td>
              <% @itemNumber += 1 %>
            <% elsif @itemNumber%2 == 1 %>
              <td class="odd">Karen</td>
              <% @itemNumber += 1 %>
            <%end%>
          </tr>
          <% end %>





        </tbody>
        
        
      </table>
    </div>
  </div>
  <div id="items" style="margin-left: 50px;"><%= link_to 'Add items', productpage_path %></div>
  <div id="sharing" style="margin-left: 50px;"><%= link_to 'Share List', users_path %></div>
  <div style="margin-left: 50px;"><button onclick="myFunction()">Split List</button></div>
</div>


<div id="cont2" class="container2" style="float: left; width:50%; display:none; overflow:scroll;">
  <h3 style="margin-left:50px; padding-top:100px;">Available Products</h3>
  
  <div class="table-responsive" style="padding-left:50px; padding-top:30px; padding-bottom:30px;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Price</th>
          <th>Brand</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    <div id="flow" style="overflow-y:auto"
      <tbody>
        <% Product.all.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.category %></td>
            <td><%= product.price %></td>
            <td><%= product.brand %></td>
            <td><%= link_to "Add to list", add_to_list_path(:product_id =>product.id, :list_id => @list.id) %></td>
    

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>  
    <br>
    
    <div style="margin-left:50px;"><%= link_to 'New Product', new_product_path %></div>
</div>

<div id="cont3" class="container3" style="width:100%; display:none;">
  <div class="table-responsive" style="padding-left:50px; padding-top:30px; padding-bottom:30px;">
      <h3 style="margin-left:50px; padding-top:100px;">Users</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% User.all.each do |user| %>
        <% if user.id != session[:user_id] %>
          <tr>
            <td><%= user.firstname %></td>
            <td><%= user.lastname %></td>
            <td><%= user.email %></td>
            <td><%= link_to 'Share list with ' + user.firstname, share_list_path(:user_id =>user.id, :list_id => @list.id) %></td>
          </tr>
          <%end%>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

</br>
</br>
</br>


<script>
  $(function() {
    $('#items').click(function(event){
      event.preventDefault();
      $('div#cont2').toggle();
    });
  }); 
  $(function() {
    $('#sharing').click(function(event){
      event.preventDefault();
      $('div#cont3').toggle();
    });
  }); 
</script>
<script>
function myFunction() {
  var elements = document.getElementsByClassName("odd");
  for(var i=0; i<elements.length; i++) {
     document.getElementsByClassName('odd')[i].innerHTML = "Osama";
  }
   
}
</script>