
<p id="notice"><%= notice %></p>

<h4 style="margin-left: 50px;">This is <%= @list.name %></h4>

<p style="margin-left:50px;">Created on <%= @list.date %></p>

<% @inList = [] %>
<% ListProduct.all.each do |item| %>
<% if item.list_id == @list.id %>
<% @inList += [item] %>
<% end %>
<% end %>

<p>
  <table style="margin-left: 55px;">
    <thead>
      <tr>
        <th>Product Name  </th>
        <th>Quantity  </th>
        <th>Available? </th>
      </tr>
      
    </thead>
    
    <tbody>
    <% @inList.each do |itemInList| %>
      <tr>
        <td><%= Product.find(itemInList.product_id).name %></td>
        <td><%= itemInList.quantity %></td>
        <td><%= itemInList.availability %></td>
      </tr>
      <% end %>

    </tbody>
    
    
  </table>

</p>
<div style="margin-left: 50px;"><%= link_to 'Add items', productpage_path %>
</div>

<div style="margin-left: 50px;"><%= link_to 'Share List', users_path %>
</div>


<h3 style="margin-left:50px;">Available Products</h3>

<table style="margin-left:50px;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Brand</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Product.all.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.category %></td>
        <td><%= product.price %></td>
        <td><%= product.brand %></td>
        <td><%= link_to "Add to list", add_to_list_path(:product_id =>product.id, :list_id => @list.id) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div style="margin-left:50px;"><%= link_to 'New Product', new_product_path %></div>

<h3 style="margin-left:50px;">Users</h3>

<table style="margin-left:50px;">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% User.all.each do |user| %>
      <tr>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Share list with ' + user.firstname, share_list_path(:user_id =>user.id, :list_id => @list.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>