<p id="notice"><%= notice %></p>

<h4 style="margin-left: 50px;">This is <%= @list.name %></h4>

<p style="margin-left:50px;">Created on <%= @list.date %></p>

<p>
  
  <table style="margin-left: 55px;">
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Quantity</th>
        <th>Available?</th>
      </tr>
    </thead>
    <tbody>

      <% Grocery.all.each do |thing| %>
    
      <tr>
        <td><%= Product.find(thing.product_id).name %></td>
        <td><%= thing.quantity %></td>
        <td><%= thing.availability %></td>
      </tr>

      <% end %>
    </tbody>
    
    
  </table>

</p>
<div style="margin-left: 50px;"><%= link_to 'Add items', productpage_path %>
</div>
