<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @product_recipe.product_id %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @product_recipe.recipe_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @product_recipe.amount %>
</p>

<p>
  <strong>Measurement:</strong>
  <%= @product_recipe.measurement %>
</p>

<%= link_to 'Edit', edit_product_recipe_path(@product_recipe) %> |
<%= link_to 'Back', product_recipes_path %>
<%= render 'layouts/footer' %>