
<%= form_with(model: branch, local: true) do |form| %>
  <% if branch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(branch.errors.count, "error") %> prohibited this branch from being saved:</h2>

      <ul>
      <% branch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Branch Name" %><br>
    <%= form.text_field :name, id: :branch_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :location %><br>
    <%= form.text_field :location, id: :branch_location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :map %><br>
    <%= form.text_area :map, id: :branch_map, class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= form.submit :class => 'btn btn-primary text-uppercase' %>
  </div>
<% end %>
