
<%= form_with(model: branch, local: true) do |form| %>
  <% if branch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(branch.errors.count, "error") %> prohibited this branch from being saved:</h2>

      <ul>
      <% branch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name, id: :branch_name %>
  </div>

  <div class="field">
    <%= form.label :location %><br>
    <%= form.text_field :location, id: :branch_location %>
  </div>

  <div class="field">
    <%= form.label :map %><br>
    <%= form.text_area :map, id: :branch_map %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
