<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" style="margin-left:100px;">
    <%= form.label :name, "Recipe Name" %>
    <%= form.text_field :name, id: :recipe_name, class: "form-control" %>
  </div>

  <div class="form-group" style="margin-left:100px;">
    <%= form.label :dietaryreqs, "Suitable for" %>
    <%= form.select :dietaryreqs, [ "None", "Vegan", "Vegetarian", "Diabetic", "Gluten Free", "Nuts allergy", "Meat less", "Lactose free"], class: "form-control" %>
  </div>

  <div class="form-group" style="margin-left:100px;">
    <%= form.label :serving %>
    <%= form.number_field :serving, id: :recipe_serving, class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= form.submit :class => 'btn btn-primary text-uppercase', :style => 'margin-left:50px; margin-top:25px;'%>
  </div>
<% end %>
