

<div class="table-responsive" style="padding-left:50px; width:80%; padding-top:50px;">
  <h3>Listing Recipes</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Dietaryreqs</th>
        <th>Serving</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= recipe.id %></td>
          <td><%= recipe.name %></td>
          <td><%= recipe.dietaryreqs %></td>
          <td><%= recipe.serving %></td>
          <td><%= link_to 'Show', recipe %></td>
          <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
          <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Recipe', new_recipe_path %>
</div>
