<div style="display:flex; flex-direction:column;">
  <div style="display:flex; justify-content: space-between; margin-right:10%; margin-top:2%;">
    <h3 style="margin-top:75px; margin-left:200px; margin-bottom:50px;">Recipes</h3>
    <%= button_to '+ New Recipe', new_recipe_path, class: 'btn btn-primary text-uppercase', style: 'margin-top:75px; margin-bottom:50px; margin-left:450px;'%>
    <div style="display:flex; flex-direction:column; border: 5px solid black; border-radius:15px; padding-left:20px; padding-right:30px;">
      <%= link_to 'No Preference', noPreferance_path %>
      <%= link_to 'Vegan', vegan_path %>
      <%= link_to 'Vegetarian', vegetarian_path %>
      <%= link_to 'Diabetic', diabetic_path %>
      <%= link_to 'Gluten Free', glutenFree_path %>
      <%= link_to 'Nuts Allergy', nutsAllergy_path %>
      <%= link_to 'Meat Less', meatLess_path %>
      <%= link_to 'Lactose Free', lactoseFree_path %>
    </div>
  </div>


  

<% @recipes.each do |recipe| %>
  <div class="post-container" style="margin: 20px 20px 20px 300px;">                
      <div class="post-thumb" style="float:left;"><img src="<%= asset_path('food-picture.jpg') %>" style="display: block;" /></div>
      <div class="post-content" style="margin-left: 250px; margin-top:7px;">
          <h3 class="post-title" style="font-weight: bold; font-size: 150%"><%= recipe.name %></h3>
          <p>Suitable for: <%= recipe.dietaryreqs %></p>
          <p>Recommended for: <%= recipe.serving %> people.</p>
          <p style="margin-top:30px;"><%= link_to 'Show', recipe, class: 'btn btn-primary text-uppercase' %></p></br>
     </div>
  </div>
<% end %>
</div>
<%= render 'layouts/footer' %>