

<h3>Listing Recipes</h3>

<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>ID</th>-->
<!--      <th>Name</th>-->
<!--      <th>Dietaryreqs</th>-->
<!--      <th>Serving</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--    <% @recipes.each do |recipe| %>-->
<!--      <tr>-->
<!--        <td><%= recipe.id %></td>-->
<!--        <td><%= recipe.name %></td>-->
<!--        <td><%= recipe.dietaryreqs %></td>-->
<!--        <td><%= recipe.serving %></td>-->
<!--        <td><%= link_to 'Show', recipe %></td>-->
<!--        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>-->
<!--        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
<!--    <% end %>-->
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->

<% @recipes.each do |recipe| %>
  <div class="post-container" style="margin: 20px 20px 0 0; overflow: auto">                
      <div class="post-thumb" style="float:left;"><img src="http://dummyimage.com/200x200/f0f/fff" style="display: block;" /></div>
      <div class="post-content" style="margin-left: 210px;">
          <h3 class="post-title" style="font-weight: bold; font-size: 200%"><%= recipe.name %></h3>
          <p>Suitable for: <%= recipe.dietaryreqs %></p></br>
          <p>Recommended for: <%= recipe.serving %> people.</p></br>
          <p><%= link_to 'Show', recipe %></p>
     </div>
  </div>
<% end %>

<%= button_to 'New Recipe', new_recipe_path %>
