<div style="display:flex; flex-direction:column;">
  <div style="width;100%;">
    <h3 style="margin-top:75px; margin-left:200px; margin-bottom:50px; position:absolute;">Recipes</h3>
    <div align="center" ><%= button_to '+ New Recipe', new_recipe_path, class: 'btn btn-primary text-uppercase', style: 'margin-top:75px; margin-bottom:50px;'%></div>
  </div>
  <div style="display:flex; flex-direction:column; border: 5px solid black; border-radius:15px; margin-left:85%;">
    <%= link_to 'No Preference', noPreferance_path, style: "margin:auto;" %>
    <%= link_to 'Vegan', vegan_path, style: "margin:auto;" %>
    <%= link_to 'Vegetarian', vegetarian_path, style: "margin:auto;" %>
    <%= link_to 'Diabetic', diabetic_path, style: "margin:auto;" %>
    <%= link_to 'Gluten Free', glutenFree_path, style: "margin:auto;" %>
    <%= link_to 'Nuts Allergy', nutsAllergy_path, style: "margin:auto;" %>
    <%= link_to 'Meat Less', meatLess_path, style: "margin:auto;" %>
    <%= link_to 'Lactose Free', lactoseFree_path, style: "margin:auto;" %>
  </div>

<% @recipes.each do |recipe| %>
  <div class="post-container" style="margin: 20px 20px 20px 300px;">                
      <div class="post-thumb" style="float:left;"><img src="<%= asset_path('food-picture.jpg') %>" style="display: block;" /></div>
      <div class="post-content" style="margin-left: 250px; margin-top:7px;">
          <h3 class="post-title" style="font-weight: bold; font-size: 150%"><%= recipe.name %></h3>
          <p>Suitable for: <%= recipe.dietaryreqs %></p>
          <p>Recommended for: <%= recipe.serving %> people.</p>
          <p style="margin-top:30px;"><%= link_to 'Show', recipe, class: 'btn btn-primary text-uppercase' %></p></br>
     </div>
  </div>
<% end %>
</div>
<%= render 'layouts/footer' %>