<p id="notice"><%= notice %></p>
<br>
<br>
  
<div style="border: black solid 5px; border-radius:20px; margin-left: 20%; margin-right:20%;">
  <h1 style="text-align:center;" class="section-heading text-uppercase"><%= @recipe.name %></h1>
  <br>
  <h3 style="text-align:center; padding-top:100px; text-decoration: underline;" class="section-heading text-uppercase">Dietary requirements:</h3>
  <h4 style="text-align:center;" class="section-subheading"><%= @recipe.dietaryreqs %></h4>

  <h3 style="text-align:center; padding-top:100px; text-decoration: underline;" class="section-heading text-uppercase">Serving:</h3>
  <h4 style="text-align:center;" class="section-subheading"><%= @recipe.serving %></h4>

</div>
<br>
<br>
<h3 style="text-align:center;" class="section-subheading">Ingredients for this recipe:</h3>
<% @ingredients = [] %>
<% ProductRecipe.all.each do |ingredient| %>
<% if ingredient.recipe_id == @recipe.id %>
<% @ingredients += [ingredient] %>
<%end%>
<%end%>
<table style="border: black solid 5px; border-radius:20px; margin-left:20%; margin-right:20%; width:60%;" class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |item| %>
      <tr>
        <td><%= Product.find_by(:id => item.product_id).name %></td>
        <td><%= item.amount %></td>
        <td>Pick a list: 
          <select onChange="if(this.selectedIndex!=0) self.location=this.options[this.selectedIndex].value">
            <option value="click below">Click one:</option>
            <% @myLists = [] %>
            <% ListUser.all.each do |checklist| %>
            <% if checklist.user_id == session[:user_id] %>
            <% @myLists += [checklist] %>
            <% end %>
            <% end %>
            <% @myLists.each do |listed| %>
              <option value="<%= add_to_list_from_recipe_path(:product_id => item.product_id, :list_id => listed.list_id, :recipe_id => @recipe.id) %>"><%= List.find(listed.list_id).name %></option>
            <% end %>
          </select>
        </td>
        </tr>
        <% end %>
  </tbody>
</table>

<br>
<br>
<div id="cont2" class="container2" style="width:80%;">
<h3 style="text-align:center; padding-left:25%" class="section-subheading">Additional ingredients available:</h3>
  <div class="table-responsive">
    <div id="flow" style="overflow-y:auto; height:300px;">
      <table style="border: black solid 5px; border-radius:20px; margin-left:33%; margin-right:20%; width:60%;" class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Brand</th>
            <th colspan="3"></th>
          </tr>
        </thead>
          <tbody>
            <% Product.all.each do |product| %>
              <tr>
                <td><%= product.name %></td>
                <td><%= product.category %></td>
                <td><%= product.price %></td>
                <td><%= product.brand %></td>
                <td><%= link_to "Add to Recipe", add_to_recipe_path(:product_id =>product.id, :recipe_id => @recipe.id) %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>
  </div>  
  <br>
  <div style="margin-left:50%;"><%= button_to 'New Product', new_product_path, class: 'btn btn-primary text-uppercase' %></div>
</div>



<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
<%= render 'layouts/footer' %>