
<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" style="padding-left: 55px; padding-right:800px; font: Helvetica; ">
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :dietary_reqs %>
  </div>

  <div class="actions" style="padding-left: 55px;">
    <%= f.button :submit %>
  </div>
<% end %>
