<%= form_for(@recipy) do |f| %>
  <% if @recipy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipy.errors.count, "error") %> prohibited this recipy from being saved:</h2>

      <ul>
      <% @recipy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :serves %><br>
    <%= f.text_field :serves %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
