<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipy.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @recipy.category %>
</p>

<p>
  <strong>Serves:</strong>
  <%= @recipy.serves %>
</p>

<%= link_to 'Edit', edit_recipy_path(@recipy) %> |
<%= link_to 'Back', recipies_path %>
