<p id="notice"><%= notice %></p>

<h1>Listing Recipe Product Lists</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipe_product_lists.each do |recipe_product_list| %>
      <tr>
        <td><%= link_to 'Show', recipe_product_list %></td>
        <td><%= link_to 'Edit', edit_recipe_product_list_path(recipe_product_list) %></td>
        <td><%= link_to 'Destroy', recipe_product_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe product list', new_recipe_product_list_path %>
