<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @checklist.user_id %>
</p>

<p>
  <strong>List:</strong>
  <%= @checklist.list_id %>
</p>

<%= link_to 'Edit', edit_checklist_path(@checklist) %> |
<%= link_to 'Back', checklists_path %>
