<p id="notice"><%= notice %></p>

<h1>Branch Products</h1>

<table>
  <thead>
    <tr>
      <th>Branch</th>
      <th>Product</th>
      <th>Stock</th>
      <th>longitude</th>
      <th>latitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @branch_products.each do |branch_product| %>
      <tr>
        <td><%= branch_product.branch_id %></td>
        <td><%= branch_product.product_id %></td>
        <td><%= branch_product.stock %></td>
        <td><%= branch_product.longitude %></td>
        <td><%= branch_product.latitude %></td>
        <td><%= link_to 'Show', branch_product %></td>
        <td><%= link_to 'Edit', edit_branch_product_path(branch_product) %></td>
        <td><%= link_to 'Destroy', branch_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>


<div style="width:400px;height:300px">
  <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <pattern id="smallGrid" width="8" height="8" patternUnits="userSpaceOnUse">
        <path d="M 8 0 L 0 0 0 8" fill="none" stroke="gray" stroke-width="0.5"/>
      </pattern>
      <pattern id="grid" width="80" height="80" patternUnits="userSpaceOnUse">
        <rect width="80" height="80" fill="url(#smallGrid)"/>
        <path d="M 80 0 L 0 0 0 80" fill="none" stroke="gray" stroke-width="1"/>
      </pattern>
    </defs>

    <rect width="100%" height="100%" fill="url(#grid)" />
    
    <circle id="circle" style="stroke: black; fill: #f8f8f8;" cx="100" cy="100" r="10"/>
  </svg>
</div>






<%= link_to 'New Branch Product', new_branch_product_path %>
