<p id="notice"><%= notice %></p>

<p>
  <strong>Branch:</strong>
  <%= @branch_product.branch_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @branch_product.product_id %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @branch_product.stock %>
</p>

<p>
  <strong>longitude:</strong>
  <%= @branch_product.longitude %>
</p>

<p>
  <strong>latitude:</strong>
  <%= @branch_product.latitude %>
</p>

<%= link_to 'Edit', edit_branch_product_path(@branch_product) %> |
<%= link_to 'Back', branch_products_path %>


