<p id="notice"><%= notice %></p>
<h3 style="margin-left:50px;">test <%= @lid %></h3>
<h3 style="margin-left:50px;">Available Products</h3>

<table style="margin-left:50px;">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Brand</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.category %></td>
        <td><%= product.price %></td>
        <td><%= product.brand %></td>
        <td><%= link_to "Add to list", add_to_list_path(product.id) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div style="margin-left:50px;"><%= link_to 'New Product', new_product_path %></div>
