<%= form_for(@list_product_recipe) do |f| %>
  <% if @list_product_recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list_product_recipe.errors.count, "error") %> prohibited this list_product_recipe from being saved:</h2>

      <ul>
      <% @list_product_recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :grocery_id %><br>
    <%= f.number_field :grocery_id %>
  </div>
  <div class="field">
    <%= f.label :ingredient_id %><br>
    <%= f.number_field :ingredient_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
