<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @availability.product_id %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @availability.branch_id %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @availability.stock %>
</p>

<p>
  <strong>Aisleno:</strong>
  <%= @availability.aisleno %>
</p>

<p>
  <strong>Sectionno:</strong>
  <%= @availability.sectionno %>
</p>

<%= link_to 'Edit', edit_availability_path(@availability) %> |
<%= link_to 'Back', availabilities_path %>
