<% if logged_in? %>
	<li><%= link_to current_user.firstname, '/users/' + "#{session[:user_id]}" %> </li>
    <li><%= link_to 'Shopping Lists', '/lists'  %></li>
    <li><%= link_to 'Logout', logout_path, method: :delete %></li>
<% else %>
    <li><%= link_to 'Login', login_path %></li>
    <li><%= link_to 'Sign up', signup_path %></li>
<% end %>