<% if logged_in? %>
	<li class="nav-item"><%= link_to current_user.firstname, '/users/' + "#{session[:user_id]}", class: "nav-link js-scroll-trigger" %> </li>
    <li class="nav-item"><%= link_to 'Recipes', '/recipes', class: "nav-link js-scroll-trigger"  %></li>
    <li class="nav-item"><%= link_to 'Shopping Lists', '/lists', class: "nav-link js-scroll-trigger"  %></li>
    
    <% if current_user.admin? %>
    <li class="nav-item"><%= link_to 'Users', '/users', class: "nav-link js-scroll-trigger"  %></li>
    <li class="nav-item"><%= link_to 'Branches', '/branches', class: "nav-link js-scroll-trigger"  %></li>
    <li class="nav-item"><%= link_to 'Stock', '/branch_products', class: "nav-link js-scroll-trigger"  %></li>
    <% end %>
    <li class="nav-item"><%= link_to 'Update my info', '/users/' + "#{session[:user_id]}" + '/edit', class: "nav-link js-scroll-trigger" %></li>
    <li class="nav-item"><%= link_to 'Logout', logout_path, method: :delete, class: "nav-link js-scroll-trigger" %></li>
<% else %>
    <li class="nav-item"><%= link_to 'Login', login_path, class: "nav-link js-scroll-trigger" %></li>
    <li class="nav-item"><%= link_to 'Sign up', signup_path, class: "nav-link js-scroll-trigger" %></li>
<% end %>